
* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.welcome {
    font-size: 30px;
}

.main {
    display: flex;
    flex-direction: row;
}

body {
    background-color: navajowhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 650px;
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

.container_messages {
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

.input-group {
    margin-bottom: 10px;
}

.btn-home {
    display: flex;
    justify-content: flex-end;
}
